*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 5px;
    color: white;
}
a:hover{
    background-color: rgb(176,224,230);
    color: black;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
    width: 340px;
    display: flex;
    background-color:#93C57F ;
}
.listamenu{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.conteudo{
    position: relative;
    top: 70px;
}
.foto{
    width: 50px;
    border-radius: 50%;
    border-: 1px;
}  
.menu{
    width: 40px;
}
  
input[type='checkbox']{
    display: none;
}
input[type='checkbox']:checked ~ nav {
    transform: translateX(350px);
}
nav{
    background-color: rgba(16,16,16,.5);
    width: 300px;
    left: -350px;
    height: 100%;
    position: absolute;
    transition: all .5s;
}
.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
  }

#divBusca{
    padding-left: 10px;
    background-color:#93C57F;
    border:solid 1px;
    border-radius:10px;
    width:300px;
    margin: 0 auto;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
  
#txtBusca{
    float:left;
    background-color:transparent;
    padding: 5px;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
}  

.lupa{
    padding: 10px;
    padding-right: 5px;
    width: 25px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.cardconsulta {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    border-left: 3px solid #3bb54a;    
  }
.cardconsulta:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
.cardconsulta p {
    color: #a3a5ae;
    font-size: 16px;
  }
.perfil{
    top: 15px;
}